@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0F13;
}

body * {
    box-sizing: border-box;
}


/* Basic styling for the menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #0e141a;
    color: #f0ffffde;
}

.menu .left,
.menu .center,
.menu .right {
    flex: 1;
}

.menu .left {
    text-align: left;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.menu .center {
    text-align: center;
    display: flex;
    align-items: center;
    gap: .5rem;
    list-style: none;
}

.menu .right {
    text-align: right;
    display: flex;
    align-items: center;
    gap: .5rem;
    list-style: none;
}

/* Style links */
.menu a {
    color: #f0ffffde;
    text-decoration: none;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 8px;
    border-radius: 10px;
    transition: .5s ease-in-out;
    border: 2px dashed #fff0;
}

.menu a.active {
    border: 2px dashed #f0ffffde;
    box-shadow:  0 10px 40px #00000063;
}

.menu a:hover {
    border: 2px dashed #f0ffffde;
    box-shadow:  0 10px 40px #00000063;
}

#Register-Company {
    color: #0e141a;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 8px;
    border-radius: 10px;
    transition: .5s ease-in-out;
    background-color: #5084eb;
    cursor: pointer;
    box-shadow: 0 10px 40px -12px #3b63b3a1;
    border: 2px dashed #fff0;
    font-weight: 600;
    right: -350px;
    box-sizing: border-box;
}

.menu #Register-Company:hover {
    border: 2px dashed #0e141a;
    box-shadow:  0 10px 40px #3b63b3a1;
}

/* Style the title */
.menu .center h1 {
    font-size: 24px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Esconde o modal inicialmente */
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    backdrop-filter: blur(5px);
}


.modal-content {
    background: #151e26;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: pulse 1.5s infinite;
}

/* Estilo geral para a página de erro */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0A0F13;
    text-align: center;
}

/* Container da mensagem de erro */
.error-container {
    max-width: 600px;
    padding: 20px;
    background-color: #0e141a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do ícone de erro */
.error-icon {
    font-size: 100px;
    color: #5084eb;
}

/* Estilo do texto de erro */
.error-message {
    font-size: 24px;
    color: #f0ffffde;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Estilo do botão de retorno */
.error-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #f0ffffde;
    background-color: #5084eb;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.error-button:hover {
    background-color: #4270cb;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }
    50% {
        transform: scale(1.02);
        box-shadow: 0 15px 40px rgba(0, 0, 0, 0.7);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }
}

/* Estilos do spinner */
.spinner {
    border: 8px dashed #5084eb; /* Borda externa com traços */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite, spin-pulse 2s infinite ease-in-out;
    margin: 0 auto 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner:before {
    content: '';
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 4px solid rgba(255, 255, 255, 0.5); /* Borda interna transparente */
    border-radius: 50%;
    border-top: 4px solid #fff; /* Adiciona um traço colorido para destaque */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin-pulse {
    0% {
        box-shadow: 0 0 0 0 #4d7ee1ac;
    }
    50% {
        box-shadow: 0 0 20px 10px #4d7ee1ac;
    }
    100% {
        box-shadow: 0 0 0 0 #4d7ee100;
    }
}

#user-initial {
    background-color: #151e26;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 10px 40px #00000063;

    font-size: 18px;
    font-weight: bold;
    color: #f0ffffde;
}

@media only screen and (max-width: 1435px) {
    #Register-Company {
        right: -250px;
    }
}

@media only screen and (max-width: 1320px) {
    #Register-Company {
        right: -210px;
    }
}

@media only screen and (max-width: 1203px) {
    #Register-Company {
        right: -200px;
    }
}

@media only screen and (max-width: 1163px) {
    #Register-Company {
        right: -120px;
    }
}

@media only screen and (max-width: 950px) { 
    .menu {
        flex-direction: column;
        gap: 1rem;
    }

    #Register-Company {
        right: 0;
    }
}